
  
  .list {
    display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 0 auto;
  justify-content: center;
  }
  
  .itemList {
    margin-top: 0 auto;
    justify-content: center;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
  
    max-width: 200px;
    min-height: 356px;
  }
  
  .nameContainer {
    display: grid;
    place-items: left;
    padding: 10px 0;
    max-width: 200px;
    text-align: center;
  }

  .title {
    color: #e43d12;
  }